template(name="cityBuildings")

  ul.main-city-list.list-unstyled.row

    each buildings

      //- FOR RECOMMENDATIONS VIEW (CLIENT ONLY)
      if showFullWidthView

        li.col-xs-12.full-width

          .row.main-city-item(itemscope, itemtype="http://schema.org/LocalBusiness")

            a.col-xs-3.main-city-img-link.p-l-0(href="{{pathFor route='building' data=processedRouteData}}")

              .building-img-wrap.carousel.slide(id="carousel-{{_id}}", data-interval="false", itemscope, itemtype="http://schema.org/ImageGallery")
                .carousel-inner(role="listbox")
                  each buildingImages
                    .item(class="{{mediaClass}}", itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")

                      if isVideo
                        i.fa.fa-video-camera.fa-3x

                      img.building-img(src="{{getThumbnail store='thumbs'}}", itemprop="thumbnail", alt="{{processedTitle}}")

                a.left.carousel-control(href="#carousel-{{_id}}", role="button", data-slide="prev")
                  i.fa.fa-fw.fa-chevron-left.building-img-icon(aria-hidden="true")
                  span.sr-only Previous

                a.right.carousel-control(href="#carousel-{{_id}}", role="button", data-slide="next")
                  i.fa.fa-fw.fa-chevron-right.building-img-icon(aria-hidden="true")
                  span.sr-only Next

            //-.action-options.hide-sm
            //-  .actions-sub-wrap
            //-    a.btn.view-pics-option(data-toggle="tooltip", data-placement="bottom", title="View Pictures")
            //-      i.fa.fa-fw.fa-picture-o


            .col-xs-8.listingInfo

              .row
                .col-xs-12.p-r-0

                  h2.main-city-item-title
                    i.fa.m-r-10(class="{{#if agroIsUnit}}fa-bed{{else}}fa-building{{/if}}")
                    a.main-city-item-link(href="{{pathFor route='building' data=processedRouteData}}", data-toggle="tooltip", title="Click to see {{processedTitle}}") {{processedTitle}}

                    if neighborhood
                      span.listingNeighborhood
                        i.fa.fa-map-marker(aria-hidden="true")
                        span(data-toggle="tooltip", data-placement="auto", title="{{address}}")
                          | {{neighborhood}}

                  if getAvailableAtDate
                    .pull-right.availableAtDate
                      strong Date Available: &nbsp;
                      | {{getAvailableAtDate}}

                  if averageRating
                    .ratingWrap(data-toggle="tooltip", data-placement="top", title="Avg Tenant Rating (out of 10")
                      i.fa.fa-star
                      span.average-rating(itemprop="ratingValue") {{averageRating}}

              .row
                .col-xs-12.col-sm-4.p-l-10.p-r-5

                  .main-city-info

                    ul.fa-ul

                      li.listingPrice
                        i.fa.fa-li.fa-usd(aria-hidden="true")
                        span
                          //-| Monthly Rent:
                          | {{displayBuildingPrice ../queryBtype}}

                      li.listingBeds
                        i.fa.fa-li.fa-bed(aria-hidden="true")
                        span {{bedroomTypes}}

                      if getBathrooms
                        li.listingBaths
                          img(src="/images/bath.svg")
                          span {{getBathrooms}}

                      li.checkAvail
                        a.checkAvail-recUnit(href="#")
                          i.fa.fa-li.fa-calendar(aria-hidden="true")
                          span(data-toggle="tooltip", title="Click to check the availability for {{processedTitle}}") Check Availability

                    .row(class="{{#if getBathrooms}}m-t-5{{else}}m-t-15{{/if}}")

                      .col-xs-12
                        a.btn.btn-sm.btn-primary(href="{{pathFor route='building' data=processedRouteData}}", data-toggle="tooltip", title="Click to see {{processedTitle}}")
                          | View Full Listing

                    if brokerageName
                      .brokerage-info
                        span
                          em Listing courtesy of #{brokerageName}

                .col-xs-12.col-sm-8.p-l-10.p-r-0

                  ul.fa-ul.listingFeaturesWrap

                    each complexFields
                      li.listingFeature(data-toggle="tooltip", data-placement="top", title="{{commentValue}}")
                        i.fa.fa-li(class="{{iconClass}}")
                        span.building-features-text {{text}}
                        if commentValue
                          i.fa.fa-question-circle

                    with getFeatures
                      each .
                        li.listingFeature
                          i.fa.fa-li.fa-check.text-primary(aria-hidden="true")
                          span.building-features-text {{.}}

            .col-xs-1.listingActionIcons
              button.favoriteToggle(type="button", data-toggle="tooltip", title="Favorite this listing")
                i.fa.fa-heart-o
              button.removeFromRecommendList.m-t-15(type="button", data-toggle="tooltip", title="Remove this listing from your recommendations")
                i.fa.fa-times-circle-o

      else
        //- FOR REGULAR THUMBNAIL VIEW (I.E. NOT RECOMMENDATIONS)

        li.col-xs-12.col-sm-6.col-md-4
          .main-city-item(class="{{#unless isPublished}}is-not-published{{/unless}}", itemscope, itemtype="http://schema.org/LocalBusiness")
        
            if shouldShowRecommendToggle
              a.btn.btn-sm.btn-default.recommend-toggle(href="#", class="{{#if isRecommended}}active{{/if}}")
                if isRecommended
                  | Recommended
                  i.fa.fa-check.text-primary
                else
                  | Recommend
                  i.fa.fa-star.text-success

            .modal.fade(tabindex="-1" role="dialog" aria-hidden="true" class="bs-building-{{_id}}-modal-lg" data-interval="false")
              .modal-dialog.modal-lg
                .modal-content
                  .carousel.slide(id="carousel-popup-{{_id}}" data-ride="carousel")
                    .carousel-inner
                      each buildingImages
                        .item(class="{{#if isFirstImage}}active{{/if}}")
                          img.img-responsive(src="{{getThumbnail store='thumbs'}}" alt="{{processedTitle}}" style="width:900px")
                    a.left.carousel-control(href="#carousel-popup-{{_id}}" role="button" data-slide="prev")
                      span.glyphicon.glyphicon-chevron-left
                    a.right.carousel-control(href="#carousel-popup-{{_id}}" role="button" data-slide="next")
                      span.glyphicon.glyphicon-chevron-right


            a.main-city-img-link(href="{{pathFor route='building' data=processedRouteData}}")
              unless isMobile
                .action-options.hide-sm
                  .actions-sub-wrap
                    a.btn.view-pics-option(data-toggle="modal", data-target=".bs-building-{{_id}}-modal-lg", data-building-id=_id title="View Pictures")
                      i.fa.fa-fw.fa-picture-o
                    a.btn.check-avail-option(data-toggle="tooltip", data-placement="bottom", title="Check Availability")
                      i.fa.fa-fw.fa-calendar
                    a.btn.view-details-option(href="{{pathFor route='building' data=processedRouteData}}", data-toggle="tooltip", data-placement="bottom", title="View More Details")
                      i.fa.fa-fw.fa-eye

                  .neighborhood-txt
                    if neighborhood
                      i.fa.fa-map-marker
                      span {{neighborhood}}
                      br
                    if address
                      .address-txt {{address}}

              .building-img-wrap.carousel.slide(id="carousel-{{_id}}", data-interval="false", itemscope, itemtype="http://schema.org/ImageGallery")
                .carousel-inner(role="listbox")
                  each buildingImages
                    .item(class="{{mediaClass}}", itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")

                      if isVideo
                        i.fa.fa-video-camera.fa-3x

                      img.building-img(src="{{getThumbnail store='thumbs'}}", itemprop="thumbnail", alt="{{processedTitle}}")

                a.left.carousel-control(href="#carousel-{{_id}}", role="button", data-slide="prev")
                  i.fa.fa-fw.fa-chevron-left.building-img-icon(aria-hidden="true")
                  span.sr-only Previous

                a.right.carousel-control(href="#carousel-{{_id}}", role="button", data-slide="next")
                  i.fa.fa-fw.fa-chevron-right.building-img-icon(aria-hidden="true")
                  span.sr-only Next

              span.main-city-price {{displayBuildingPrice ../queryBtype}}
          
            .main-city-item-wrap
              h2.main-city-item-title
                i.fa.m-r-10(class="{{#if agroIsUnit}}fa-bed{{else}}fa-building{{/if}}")
                a.main-city-item-link(href="{{pathFor route='building' data=processedRouteData}}", data-toggle="tooltip", title="Click to see {{processedTitle}}", itemprop="name") {{processedTitle}}

              if averageRating
                .ratingWrap.m-t-5(data-toggle="tooltip", data-placement="top", title="Avg Tenant Rating (out of 10)", itemprop="aggregateRating", itemscope, itemtype="http://schema.org/AggregateRating")
                  meta(itemprop="worstRating" content="1")
                  meta(itemprop="bestRating" content="10")
                  i.fa.fa-star
                  span.average-rating(itemprop="ratingValue") {{averageRating}}

              .main-city-info.clearfix#numBrs
                i.fa.fa-bed
                span.main-city-desc {{bedroomTypes}} BR

              if getBathrooms
                .main-city-info.clearfix#numBaths
                  span.baths-icon
                    img(src="/images/bath.svg")
                  span.main-city-desc {{getBathrooms}}

              if brokerageName
                .brokerage-info
                  span
                    em Listing courtesy of #{brokerageName}

            .mobile-check-avail-wrap
              button.btn.btn-primary.btn-block.check-avail-option(type="button")
                | Check Availability
                i.fa.fa-fw.fa-hand-o-up.m-l-10
