template(name="quickViewBuilding")

  if isParent
    td
      if hasChildren
        span.toggle-units(href="#")
          i.fa.fa-plus-square-o
    td
      if shouldShowRecommendToggle
        div.recommend-toggle-wrapper
          a.recommend-toggle(href="#", class="{{#if isRecommended}}active{{/if}}", data-isrecommended="{{#if isRecommended}}true{{else}}false{{/if}}")
            if isRecommended
              i.fa.fa-star.green(data-toggle="tooltip", title="Click to un-recommend")
            else
              i.fa.fa-star-o.green(data-toggle="tooltip", title="Click to recommend")
      div.title-wrapper
        span {{title}}

  else
    td
    td
      if shouldShowRecommendToggle
        div.recommend-toggle-wrapper
          a.recommend-toggle(href="#", class="{{#if isRecommended}}active{{/if}}", data-isrecommended="{{#if isRecommended}}true{{else}}false{{/if}}")
            if isRecommended
              i.fa.fa-star.green
            else
              i.fa.fa-star-o.green
      div.title-wrapper
        a(href="{{pathFor route='building' data=processedRouteData}}", data-toggle="tooltip", data-placement="auto", title="{{address}}")
          | {{title}}

  if isParent
    td {{availableBedroomTypes}}
  else
    td {{bedroomTypes ../queryBtype}}

  td {{bathrooms}}

  td {{getSqft}}

  if isParent
    td {{availableSecurityValues}}
    td {{availableLaundryValues}}
    td
  else
    td
      span(data-toggle="tooltip", title=securityComment) {{securityValue}}
    td
      span(data-toggle="tooltip", title=laundryComment) {{laundryValue}}
    td
      i.js-available-at

  if isParent
    td {{overallPriceRange ../queryBtype}}
  else
    td {{displayBuildingPrice ../queryBtype}}

  td
    span.quickViewTableIcons

      if hasImages
        i.fa.fa-camera.m-r-5.text-primary.js-images(data-toggle="modal" data-target="#gallery-#{_id}" title="{{imgCount}} pictures available")
        .modal.fade(id="gallery-#{_id}" tabindex="-1" role="dialog")
          .modal-dialog.modal-lg
            .modal-content
              .modal-body
                .carousel.slide(id="carousel-popup-{{_id}}" data-ride="carousel")
                  .carousel-inner
                    each indexedImages
                      .item(class="{{#if isFirstImage}}active{{/if}}")
                        img.img-responsive(src="{{thumbnailUrl}}" style="width:900px")
                  a.left.carousel-control(href="#carousel-popup-{{_id}}" role="button" data-slide="prev")
                    span.glyphicon.glyphicon-chevron-left
                  a.right.carousel-control(href="#carousel-popup-{{_id}}" role="button" data-slide="next")
                    span.glyphicon.glyphicon-chevron-right
      else
        i.fa.fa-camera.m-r-5(style="color: grey")

      if hasVideo
        button.videoExists(type="button", data-toggle="tooltip", title="Video available")
          i.fa.fa-video-camera.m-r-5.text-success

      i.m-r-5.js-comments
      i.fa.fa-trash.text-danger.js-delete
