template(name="quickViewBuilding")

  if isParent
    td
      if hasChildren
        span.toggle-units(href="#")
          i.fa.fa-plus-square-o
    td
      if shouldShowRecommendToggle
        div.recommend-toggle-wrapper
          a.recommend-toggle(href="#", class="{{#if isRecommended}}active{{/if}}", data-isrecommended="{{#if isRecommended}}true{{else}}false{{/if}}")
            if isRecommended
              i.fa.fa-star.green(data-toggle="tooltip", title="Click to un-recommend")
            else
              i.fa.fa-star-o.green(data-toggle="tooltip", title="Click to recommend")
      div.title-wrapper
        span {{title}}

  else
    td
    td
      if shouldShowRecommendToggle
        div.recommend-toggle-wrapper
          a.recommend-toggle(href="#", class="{{#if isRecommended}}active{{/if}}", data-isrecommended="{{#if isRecommended}}true{{else}}false{{/if}}")
            if isRecommended
              i.fa.fa-star.green
            else
              i.fa.fa-star-o.green
      div.title-wrapper
        a(href="{{pathFor route='building' data=processedRouteData}}", data-toggle="tooltip", data-placement="auto", title="{{address}}")
          | {{title}}

  if isParent
    td {{availableBedroomTypes}}
  else
    td {{bedroomTypes ../queryBtype}}

  td {{bathrooms}}

  td {{getSqft}}

  if isParent
    td {{availableSecurityValues}}
    td {{availableLaundryValues}}
    td
  else
    td
      span(data-toggle="tooltip", title=securityComment) {{securityValue}}
    td
      span(data-toggle="tooltip", title=laundryComment) {{laundryValue}}
    td
      span(data-toggle="tooltip", title=modifiedAtFormatted style=availableAtStyle) {{availableAtFormatted}}

  if isParent
    td {{overallPriceRange ../queryBtype}}
  else
    td {{displayBuildingPrice ../queryBtype}}

  td
    span.quickViewTableIcons

      if hasImages
        i.fa.fa-camera.m-r-5.text-primary(data-toggle="tooltip", title="{{imgCount}} pictures available")

      if hasVideo
        button.videoExists(type="button", data-toggle="tooltip", title="Video available")
          i.fa.fa-video-camera.m-r-5.text-success

      if adminNotes
        i.fa.fa-sticky-note.text-danger(data-toggle="tooltip", title=adminNotes)
