template(name="rentalApplication")
  with this
    if canAccess
      #rental-application-wrapper.container
        .col-lg-12        
          .row
            h1 Rental Application
            .pull-right #{createdAt}
            p After completing the form below, please click "Download PDF" to save a copy on your computer. Please email the completed PDF to info@therentscene.com with a copy of your Drivers License, Pay Stub, and Bank Statement. Thank you!

            form#rental-application-form.form-horizontal
              h3 Rent Details
              .form-group
                label.control-label.col-sm-4 Which unit are you applying to
                .col-sm-8
                  select.form-control
                    option(value="123") Marques
              .form-group
                label.control-label.col-sm-4 Move in date
                .col-sm-2
                  +datepicker(name="moveInDate")
              h3 Personal Information
              .form-group
                label.control-label.col-sm-4 Applicant's full name
                .col-sm-8
                  input.form-control(type="text", name="fullName", value="#{fields.fullName}")
              .form-group
                label.control-label.col-sm-4 Date of birth
                .col-sm-2
                  +datepicker(name="dateOfBirth")
              .form-group
                label.control-label.col-sm-4 Social security number
                .col-sm-8
                  input.form-control(type="text", name="socialSecurityNumber")
              .form-group
                label.control-label.col-sm-4 Email
                .col-sm-8
                  input.form-control(type="email", name="email")
              h3 Required documents
              p Drop required documents for the application below
              form(action="/file-upload").dropzone.dropzone-user
                .dz-message Drop files here to upload (or click)
                table#files-list.table
                  thead
                    tr
                      th File name
                      th Type
                      th Size
                      th Uploaded on
                      th Actions
                  tbody
                    each documents
                      tr
                        td #{name}
                        td
                          select.form-control.document-type
                            option -- Select a document type --
                            option(value="Bank Statement", selected="{{isSelected 'Bank Statement'}}") Bank Statement
                            option(value="Drivers License", selected="{{isSelected 'Drivers License'}}") Drivers License
                            option(value="Immigration Document", selected="{{isSelected 'Immigration Document'}}") Immigration Document
                            option(value="Pay Stub", selected="{{isSelected 'Pay Stub'}}") Pay Stub
                            option(value="Other", selected="{{isSelected 'Other'}}") Other
                        td #{size}
                        td #{updatedAt}
                        td
                          a(href="{{url}}", target="_blank")
                            i.fa.fa-eye
                          a(href="#")
                            i.fa.fa-trash

                if documentsFromAdmin.length
                  h3 Documents from Admin
                  if canOperateWithBuilding
                    p Drop documents from Admin below
                    form(action="/file-upload").dropzone.dropzone-admin
                      .dz-message Drop files here to upload (or click)
                      table.table
                        thead
                          tr
                            th File name
                            th Type
                            th Size
                            th Uploaded on
                            th Shared with user
                            th Actions
                        tbody
                          each documentsFromAdmin
                            tr
                              td #{name}
                              td
                                select.form-control.document-type
                                  option -- Select a document type --
                                  option(value="Bank Statement", selected="{{isSelected 'Bank Statement'}}") Bank Statement
                                  option(value="Drivers License", selected="{{isSelected 'Drivers License'}}") Drivers License
                                  option(value="Immigration Document", selected="{{isSelected 'Immigration Document'}}") Immigration Document
                                  option(value="Pay Stub", selected="{{isSelected 'Pay Stub'}}") Pay Stub
                                  option(value="Other", selected="{{isSelected 'Other'}}") Other
                              td #{size}
                              td #{updatedAt}
                              td
                                input.shared-with-user(type="checkbox", checked=isSharedWithUser)
                              td
                                a(href="{{url}}", target="_blank")
                                  i.fa.fa-eye
                                a(href="#")
                                  i.fa.fa-trash
                  else
                    table.table
                      thead
                        tr
                          th File name
                          th Type
                          th Size
                          th Uploaded on
                          th Actions
                      tbody
                        each documentsFromAdmin
                          tr
                            td #{name}
                            td
                              select.form-control
                                option -- Select a document type --
                                option(value="Bank Statement", selected="{{isSelected 'Bank Statement'}}") Bank Statement
                                option(value="Drivers License", selected="{{isSelected 'Drivers License'}}") Drivers License
                                option(value="Immigration Document", selected="{{isSelected 'Immigration Document'}}") Immigration Document
                                option(value="Pay Stub", selected="{{isSelected 'Pay Stub'}}") Pay Stub
                                option(value="Other", selected="{{isSelected 'Other'}}") Other
                            td #{size}
                            td #{updatedAt}
                            td
                              a(href="{{url}}", target="_blank")
                                i.fa.fa-eye

              h3 Signature
              p I hereby authorize The Rent Scene LLC to obtain and/or verify my credit report, criminal history, employment references and personal references in connection with the processing of this rental application. I also agree to the deposit disclaimer.

              #signature

              .form-group
                .col-sm-12
                  button.btn.btn-success(type="submit") Submit and download PDF

          #rental-application-password.modal.fade
            .modal-dialog
              form#rental-application-password-form.modal-content
                .modal-header
                  button.close(type="button", data-dismiss="modal", aria-label="Close")
                    i.fa.fa-times(aria-hidden="true")
                  h4.modal-title Enter a password to submit form
                .modal-body
                  p Please enter a password for your appplication to keep it protected. You will be prompted to enter it again the next time you visit the form.
                  .form-group
                    input#password.form-control(type="password", name="password", placeholder="Your password")
                .modal-footer
                  button.btn.btn-success(type="submit") Confirm password

          #rental-application-revision.modal.fade
            .modal-dialog
              form#rental-application-revision-form.modal-content
                .modal-header
                  button.close(type="button", data-dismiss="modal", aria-label="Close")
                    i.fa.fa-times(aria-hidden="true")
                  h4.modal-title Please enter a note to describe your changes
                .modal-body
                  p Please describe what was changed in your application so we can process it accordingly.
                  .form-group
                    textarea#updateNote.form-control(name="update-note", placeholder="Note for update")
                .modal-footer
                  button.btn.btn-success(type="submit") Confirm changes
    else
      #rental-application-access-wrapper.container
        .col-lg-12
          .row
            h1 Password required
            p Please enter the password for this application to continue
            form#rental-application-access-form
              .form-group
                input#password.form-control(type="password", name="Password")
              button.btn.btn-success(type="submit") Continue