template(name="building")
  +checkAvailability(building=building)
  with building
    .content-wrapper
      ol.breadcrumb
        li
          a(href="/", title='home') Home
        li
          a(href="{{pathFor route='city'}}") {{cityName}}
        with parent
          li
            a(href="{{pathFor route='building' data=getBuildingData}}") {{name}}
        li.active {{name}}

      //.building-sidebar.clearfix.col-lg-3

      article.building-page.clearfix
        aside.building-main-info.col-lg-5
          h2.building-main-info-title
            | {{name}}
          button.btn.btn-primary.building-main-info-btn.hidden-lg.check-availability(type='button')
            | Check Availability
          .building-main-price-wrap.clearfix
            each units
              .building-main-price-opt
                span.building-main-price
                  | ${{price}}
                span.building-main-rooms
                  | {{type}}
          ul.building-main-prop-list.list-unstyled.clearfix
            if hasPetsInfo
              li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12(data-toggle="tooltip" data-placement="top" title="{{petsComment}}")
                if arePetsAllowed
                  i.fa.fa-check
                  | {{petsAllow}}
                  if hasPetsComment
                    i.fa.fa-question-circle
                else
                  i.fa.fa-minus-circle
                  | {{petsAllow}}
            if hasSecurityInfo
              li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12(data-toggle="tooltip" data-placement="top" title="{{hasSecurityComment}}")
                if isSecurityAllowed
                  i.fa.fa-check
                  | {{securityAllow}}
                  if hasSecurityComment
                    i.fa.fa-question-circle
                else
                  i.fa.fa-minus-circle
                  | {{securityAllow}}
            if hasParkingInfo
              li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12(data-toggle="tooltip" data-placement="top" title="{{hasParkingComment}}")
                if isParkingAllowed
                  i.fa.fa-check
                  | {{parkingAllow}}
                  if hasParkingComment
                    i.fa.fa-question-circle
                else
                  i.fa.fa-minus-circle
                  | {{parkingAllow}}
            li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12
              if isFurnished
                i.fa.fa-check
                | Furnished
              else
                i.fa.fa-minus-circle
                | Not Furnished
            if availableAt
              li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12
                i.fa.fa-check
                | Available: {{moment availableAt 'MM/DD/YYYY'}}
            if bathrooms
              li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12
                i.fa.fa-check
                if condition bathroomsCount 'is' 1
                  | {{bathroomsCount}} Bathroom
                else
                  | {{bathroomsCount}} Bathrooms
            if hasLaundryInfo
              li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12(data-toggle="tooltip" data-placement="top" title="{{hasLaundryComment}}")
                if isLaundryAllowed
                  i.fa.fa-check
                  | {{laundryAllow}}
                  if hasLaundryComment
                    i.fa.fa-question-circle
                else
                  i.fa.fa-minus-circle
                  | {{laundryAllow}}
            if hasFitnessCenterInfo
              li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12(data-toggle="tooltip" data-placement="top" title="{{hasFitnessCenterComment}}")
                if isFitnessCenterAllowed
                  i.fa.fa-check
                  | {{fitnessCenterAllow}}
                  if hasFitnessCenterComment
                    i.fa.fa-question-circle
                else
                  i.fa.fa-minus-circle
                  | {{fitnessCenterAllow}}
            if hasUtilitiesInfo
              li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12(data-toggle="tooltip" data-placement="top" title="{{hasUtilitiesComment}}")
                if isUtilitiesAllowed
                  i.fa.fa-check
                  | {{utilitiesAllow}}
                  if hasUtilitiesComment
                    i.fa.fa-question-circle
                else
                  i.fa.fa-minus-circle
                  | {{utilitiesAllow}}

          button.btn.btn-primary.building-main-info-btn.visible-lg-block.check-availability(type="button")
            | Check Availability
          .building-main-info-desc-wrap.visible-lg-block
            input#mainDescMoreLarge.building-main-info-desc-more(type="checkbox")
            p.building-main-info-desc
              | {{description}}
            //p.building-main-info-desc
            //  | The Sansom contains 104 newly constructed apartments and an assortment of noteworthy community amenities.
            //  | Apartment types are varied and include a mix of one-bedrooms, one-bedrooms with dens, two-bedrooms, and
            //  | studios. The apartments feature
            //  span.building-desc-more-target
            //    |exceptional finishes, including granite countertops, stainless steel
            //    | kitchen appliances, hardwood floors, and in-unit washer/dryers.
            //label.building-main-more-trigger(for="mainDescMoreLarge")
            //ul.building-share-list.list-unstyled.clearfix
            //  li.building-share.pull-left
            //    a.building-share-icon.fa.fa-facebook(href="/", title="facebook")
            //  li.building-share.pull-left
            //    a.building-share-icon.fa.fa-twitter(href="/", title="twitter")
            //  li.building-share.pull-left
            //    a.building-share-icon.fa.fa-paper-plane(href="/", title="share")
            //  li.building-share.pull-left
            //    a.building-share-icon.fa.fa-plus(href="/", title="plus")
            +social
        .building-info-wrap.col-lg-7
          .building-img-wrap.carousel.slide#carousel-example-generic(data-ride="carousel")
            .carousel-inner(role="listbox")
              each images
                .item
                  img.building-img(src="{{url}}")
            a.left.carousel-control(href="#carousel-example-generic", role="button", data-slide="prev")
              i.fa.fa-chevron-left.building-img-icon(aria-hidden="true")
              span.sr-only
                | Previous
            a.right.carousel-control(href="#carousel-example-generic", role="button", data-slide="next")
              i.fa.fa-chevron-right.building-img-icon(aria-hidden="true")
              span.sr-only
                | Next
          .building-main-info-desc-wrap.hidden-lg
            p.building-main-info-desc
              | {{description}}
            //ul.building-share-list.list-unstyled.clearfix.hidden-lg
            //  li.building-share.pull-left
            //    a.building-share-icon.fa.fa-facebook(href="/", title="facebook")
            //  li.building-share.pull-left
            //    a.building-share-icon.fa.fa-twitter(href="/", title="twitter")
            //  li.building-share.pull-left
            //    a.building-share-icon.fa.fa-paper-plane(href="/", title="share")
            //  li.building-share.pull-left
            //    a.building-share-icon.fa.fa-plus(href="/", title="plus")
            +social
          if buildingUnits.count
            section.building-info-section
              h2.building-info-title
                i.fa.fa-key
                | {{buildingUnits.count}} Available Units
              p.building-info-desc
                | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus
                | mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum
                | id ligula porta felis euismod semper.
              .building-unit-list-wrap
                ul.building-unit-list.list-unstyled.row
                  each buildingUnits
                    li.building-unit-item-wrap.col-lg-6.col-md-6.col-sm-6.col-xs-12
                      .building-unit-item
                        with mainImage
                          img.pull-left(src="{{url store='thumbs'}}")
                        .building-unit-info.clearfix
                          h3.building-unit-info-title
                            a(href="{{pathFor route='building' buildingSlug=../slug unitSlug=slug}}") {{name}}
                          .building-unit-info-price
                            i.fa(class="{{#if parentId}}fa-key{{else}}fa-building{{/if}}")
                            span.unit-price
                              | {{priceFrom}}
                            span.unit-type
                              | {{bedroomTypes}}
                          button.building-unit-btn.btn.btn-default.check-availability(type="button")
                            | Check Availability
                          a.building-unit-btn.btn.btn-default(type="button" href="{{pathFor route='building' buildingSlug=../slug unitSlug=slug}}")
                            | Full Listing
                        ul.building-unit-prop-list.list-unstyled
                          li.building-unit-prop
                            i.fa.fa-check
                            | Earliest move-in: {{moment availableAt 'MM/DD/YYYY'}}
                          li.building-unit-prop
                            i.fa.fa-check
                            if condition bathroomsCount 'is' 1
                              | {{bathroomsCount}} Bathroom
                            else
                              | {{bathroomsCount}} Bathrooms
                a.building-unit-item-more(href="/", title="more")
                  | View all {{buildingUnits.count}} Units
          section.building-info-section
            h2.building-info-title
              i.fa.fa-check
              | Additional Features
            ul.building-features-list.list-unstyled.container-fluid
              each featureRows
                .row
                  each .
                    li.building-features.col-lg-3.col-md-4.col-sm-6.col-xs-6
                      i.fa.fa-check
                      | {{.}}
          //section.building-info-section
          //  h2.building-info-title
          //    i.fa.fa-star
          //    | User reviews
          //  .building-reviews-wrap
          //    .building-review-wrap.col-lg-6.col-md-6.col-sm-6.col-xs-12
          //      .building-review
          //        input#reviewMore-1.building-review-more(type="checkbox")
          //        .building-reviewer.pull-left
          //          span.building-reviewer-name
          //            | Mark Wilmotts
          //          time
          //            | 07/23/2014
          //        span.rating-box.pull-right
          //          i.fa.fa-star
          //          | 8/10
          //        h3.building-reviewer-title
          //          | The place is a blest!
          //        p.building-reviewer-desc
          //          | The Sansom contains 104 newly constructed apartments and an assortment of noteworthy community
          //          | amenities. Apartment types are varied and include a mix of one-bedrooms, one-bedrooms with dens,
          //          | two-bedrooms, and studios feature exceptional finishes, including granite countertops and  stainless
          //          | steel. ssteelsteelkitchen appliances, hardwood floors, and in-unit washer/dryers.
          //        ul.building-review-list.building-review-target.clearfix.list-unstyled
          //          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
          //            span.building-review-field
          //              | Noise
          //            span.building-review-rate
          //              | 5/5
          //            .building-review-bar
          //              .building-review-rate-5.building-review-rating
          //                span.building-review-bar-animate
          //          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
          //            span.building-review-field
          //              | Maintenance
          //            span.building-review-rate
          //              | 4/5
          //            .building-review-bar
          //              .building-review-rate-4.building-review-rating
          //                span.building-review-bar-animate
          //          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
          //            span.building-review-field
          //              | Staff
          //            span.building-review-rate
          //              | 3/5
          //            .building-review-bar
          //              .building-review-rate-3.building-review-rating
          //                span.building-review-bar-animate
          //          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
          //            span.building-review-field
          //              | Facilities
          //            span.building-review-rate
          //              | 2/5
          //            .building-review-bar
          //              .building-review-rate-2.building-review-rating
          //                span.building-review-bar-animate
          //          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
          //            span.building-review-field
          //              | Staff
          //            span.building-review-rate
          //              | 1/5
          //            .building-review-bar
          //              .building-review-rate-1.building-review-rating
          //                span.building-review-bar-animate
          //          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
          //            span.building-review-field
          //              | Facilities
          //            span.building-review-rate
          //              | 5/5
          //            .building-review-bar
          //              .building-review-rate-5.building-review-rating
          //                span.building-review-bar-animate
          //        label.building-review-trigger(for="reviewMore-1")
          //    .building-review-wrap.col-lg-6.col-md-6.col-sm-6.col-xs-12
          //      .building-review
          //        input#reviewMore-2.building-review-more(type="checkbox")
          //        .building-reviewer.pull-left
          //          span.building-reviewer-name
          //            | Mark Wilmotts
          //          time
          //            | 07/23/2014
          //        span.rating-box.pull-right
          //          i.fa.fa-star
          //          | 8/10
          //        h3.building-reviewer-title
          //          | The place is a blest!
          //        p.building-reviewer-desc
          //          | The Sansom contains 104 newly constructed apartments and an assortment of noteworthy community
          //          | amenities. Apartment types are varied and include a mix of one-bedrooms, one-bedrooms with dens,
          //          | two-bedrooms, and studios feature exceptional finishes, including granite countertops and  stainless
          //          | steel. ssteelsteelkitchen appliances, hardwood floors, and in-unit washer/dryers.
          //        ul.building-review-list.building-review-target.clearfix.list-unstyled
          //          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
          //            span.building-review-field
          //              | Noise
          //            span.building-review-rate
          //              | 5/5
          //            .building-review-bar
          //              .building-review-rate-5.building-review-rating
          //                span.building-review-bar-animate
          //          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
          //            span.building-review-field
          //              | Maintenance
          //            span.building-review-rate
          //              | 4/5
          //            .building-review-bar
          //              .building-review-rate-4.building-review-rating
          //                span.building-review-bar-animate
          //          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
          //            span.building-review-field
          //              | Staff
          //            span.building-review-rate
          //              | 3/5
          //            .building-review-bar
          //              .building-review-rate-3.building-review-rating
          //                span.building-review-bar-animate
          //          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
          //            span.building-review-field
          //              | Facilities
          //            span.building-review-rate
          //              | 2/5
          //            .building-review-bar
          //              .building-review-rate-2.building-review-rating
          //                span.building-review-bar-animate
          //          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
          //            span.building-review-field
          //              | Staff
          //            span.building-review-rate
          //              | 1/5
          //            .building-review-bar
          //              .building-review-rate-1.building-review-rating
          //                span.building-review-bar-animate
          //          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
          //            span.building-review-field
          //              | Facilities
          //            span.building-review-rate
          //              | 5/5
          //            .building-review-bar
          //              .building-review-rate-5.building-review-rating
          //                span.building-review-bar-animate
          //        label.building-review-trigger(for="reviewMore-2")
        //footer.clearfix
        //  h3.building-page-footer
        //    | Similar Properties
        //  ul.building-page-similar.list-unstyled
        //    li.building-page-similar-item.col-lg-3.col-xs-6.col-md-4.col-sm-4
        //      a.building-page-similar-link(href="/", title="similar")
        //        img.building-page-similar-img(src="/images/similar.jpg", alt="similar")
        //        .building-page-similar-info.clearfix
        //          span.building-page-similar-desc
        //            | {{bedroomTypes}}
        //          span.building-page-similar-price
        //            | {{priceFrom}}
        //    li.building-page-similar-item.col-lg-3.col-xs-6.col-md-4.col-sm-4
        //      a.building-page-similar-link(href="/", title="similar")
        //        img.building-page-similar-img(src="/images/similar.jpg", alt="similar")
        //        .building-page-similar-info.clearfix
        //          span.building-page-similar-desc
        //            | {{bedroomTypes}}
        //          span.building-page-similar-price
        //            | {{priceFrom}}
        //    li.building-page-similar-item.col-lg-3.col-xs-6.col-md-4.col-sm-4
        //      a.building-page-similar-link(href="/", title="similar")
        //        img.building-page-similar-img(src="/images/similar.jpg", alt="similar")
        //        .building-page-similar-info.clearfix
        //          span.building-page-similar-desc
        //            | {{bedroomTypes}}
        //          span.building-page-similar-price
        //            | {{priceFrom}}
        //    li.building-page-similar-item.col-lg-3.col-xs-6.col-md-4.col-sm-4
        //      a.building-page-similar-link(href="/", title="similar")
        //        img.building-page-similar-img(src="/images/similar.jpg", alt="similar")
        //        .building-page-similar-info.clearfix
        //          span.building-page-similar-desc
        //            | {{bedroomTypes}}
        //          span.building-page-similar-price
        //            | {{priceFrom}} {{helper}}
      | {{ironRouterHack}}

