template(name="building")
  +checkAvailability(building=building)

  .city-page-wrap.col-lg-9
    with building
      form.building-form.content-wrapper.left-bar
        ol.breadcrumb
          li
            a(href="/", title='home') Home
          li
            a(href="{{pathFor route='city'}}") {{cityName}}
          with parent
            li
              a(href="{{pathFor route='building' data=getRouteData}}") {{title}}
          li.active {{title}}

        if canOperateWithBuilding
          .control-buttons.btn-group
            unless parentId
              button.btn.btn-success.add-unit(type="button")
                i.fa.fa-plus
                | Add Unit
            button.btn.btn-danger.remove-building(type="button")
              i.fa.fa-trash
              | Delete
            button.btn.btn-primary.publish-building-toggle(type="button")
              i.fa(class="{{#if isPublished}}fa-arrow-circle-o-up{{else}}fa-arrow-circle-o-down{{/if}}")
              if isPublished
                | Unpublish
              else
                | Publish
            if isEdit
              button.btn.btn-primary.save-building(type="submit")
                i.fa.fa-fw.fa-spin.fa-spinner.loading(style="display: none;")
                i.fa.fa-check
                | Save
              button.btn.btn-warning.cancel-building(type="button")
                i.fa.fa-times
                | Cancel
            else
              button.btn.btn-primary.edit-building(type="button")
                i.fa.fa-pencil-square-o
                | Edit

        article.building-page.clearfix
          aside.building-main-info.col-lg-5
            if isEdit
              input.building-main-info-title(type="text", name="title", value="{{title}}")
            else
              h2.building-main-info-title {{getUnitTitle}}

            button.btn.btn-primary.building-main-info-btn.hidden-lg.check-availability(type="button") Check Availability

            if isEdit
              .building-main-price-wrap.clearfix
                .building-main-price-opt
                  span.building-main-price
                    input.text-right(type="text", name="priceFrom", value="{{priceFrom}}")
                    | -
                    input.text-right(type="text", name="priceTo", value="{{priceTo}}")
                  span.building-main-rooms Unit
                each btypesFields .
                  .building-main-price-opt
                    span.building-main-price
                      input.text-right(type="text", name="{{nameFrom}}", value="{{valueFrom}}")
                      | -
                      input.text-right(type="text", name="{{nameTo}}", value="{{valueTo}}")
                    span.building-main-rooms {{type}}
            else
              if agroIsUnit
                with getUnitPrice
                  .building-main-price-wrap.clearfix
                    .building-main-price-opt
                      span.building-main-price {{price}}
                      span.building-main-rooms {{type}}
              else
                with prices
                  .building-main-price-wrap.clearfix
                    each .
                      .building-main-price-opt
                        span.building-main-price
                          | {{price}}
                        span.building-main-rooms
                          | {{type}}

            if isEdit
              ul.building-main-prop-list.list-unstyled.clearfix
                li.building-main-prop
                  label
                    input.input-from-to.form-control(type="text", name="sqftFrom", value="{{sqftFrom}}")
                    | -
                    input.input-from-to.form-control(type="text", name="sqftTo", value="{{sqftTo}}")
                    | Square Feets
                each complexFields true
                  li.building-main-prop
                    b {{label}}:
                    .label-radio-wrap
                      each values
                        label.label-radio
                          input(type="radio", name="{{name}}", value="{{value}}", checked="{{isChecked}}")
                          | {{text}}
                    label
                      | Comment:
                      input.input-comment.form-control(type="text", name="{{commentName}}", value="{{commentValue}}")
                li.building-main-prop
                  label
                    | Is furnished:
                    select(name="isFurnished", value="true", checked="{{isFurnished}}")
                      option(value="", selected="{{condition isFurnished 'is' undefined}}")
                      option(value="true", selected="{{condition isFurnished 'is' true}}") Yes
                      option(value="false", selected="{{condition isFurnished 'is' false}}") No
                li.building-main-prop
                  label
                    | Available at:
                    +datepicker(name="availableAt" value=getAvailableAtForDatepicker)
                  label
                    input(type="checkbox", name="isNotAvailable", value="true", checked="{{isNotAvailable}}")
                    | Is not available
                li.building-main-prop
                  label
                    input.input-from-to.form-control(type="text", name="bedroomsFrom", value="{{bedroomsFrom}}")
                    | -
                    input.input-from-to.form-control(type="text", name="bedroomsTo", value="{{bedroomsTo}}")
                    | Bedrooms
                li.building-main-prop
                  label
                    input.input-from-to.form-control(type="text", name="bathroomsFrom", value="{{bathroomsFrom}}")
                    | -
                    input.input-from-to.form-control(type="text", name="bathroomsTo", value="{{bathroomsTo}}")
                    | Bathrooms
            else
              ul.building-main-prop-list.list-unstyled.clearfix
                with getSqft
                  li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12
                    i.fa.fa-check.blue-icon
                    span.building-main-prop-text
                      | {{.}} Square Feet
                //-if isNotNullOrUndefined isFurnished
                if isFurnished
                  li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12
                    i.fa.fa-check.blue-icon
                    span.building-main-prop-text
                      | Furnished
                    //-else
                    //-  i.fa.fa-times.grey-icon
                    //-  span.building-main-prop-text
                    //-    | Not Furnished
                each complexFields
                  li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12(data-toggle="tooltip", data-placement="top", title="{{commentValue}}")
                    i.fa(class="{{iconClass}}")
                    span.building-main-prop-text
                      | {{text}}
                    if commentValue
                      i.fa.fa-question-circle
                with getBathrooms
                  li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12
                    i.fa.fa-check.blue-icon
                    span.building-main-prop-text
                      | {{.}}
                if isNotAvailable
                  li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12
                    i.fa.fa-times.grey-icon
                    span.building-main-prop-text
                      | Not Currently Available
                else
                  with getAvailableAt
                    li.building-main-prop.col-lg-6.col-md-4.col-sm-6.col-xs-12
                      i.fa.fa-check.blue-icon
                      span.building-main-prop-text
                        | Available: {{moment . 'MM/DD/YYYY'}}

            button.btn.btn-primary.building-main-info-btn.visible-lg-block.check-availability(type="button")
              | Check Availability
            .building-main-info-desc-wrap.visible-lg-block
              input#mainDescMoreLarge.building-main-info-desc-more(type="checkbox")
              p.building-main-info-desc
                if isEdit
                  textarea.form-control(name="description") {{{description}}}
                else
                  | {{{getDescription}}}
              //-p.building-main-info-desc
              //-  | The Sansom contains 104 newly constructed apartments and an assortment of noteworthy community amenities.
              //-  | Apartment types are varied and include a mix of one-bedrooms, one-bedrooms with dens, two-bedrooms, and
              //-  | studios. The apartments feature
              //-  span.building-desc-more-target
              //-    |exceptional finishes, including granite countertops, stainless steel
              //-    | kitchen appliances, hardwood floors, and in-unit washer/dryers.
              //-label.building-main-more-trigger(for="mainDescMoreLarge")
              //-ul.building-share-list.list-unstyled.clearfix
              //-  li.building-share.pull-left
              //-    a.building-share-icon.fa.fa-fw.fa-facebook(href="/", title="facebook")
              //-  li.building-share.pull-left
              //-    a.building-share-icon.fa.fa-fw.fa-twitter(href="/", title="twitter")
              //-  li.building-share.pull-left
              //-    a.building-share-icon.fa.fa-fw.fa-paper-plane(href="/", title="share")
              //-  li.building-share.pull-left
              //-    a.building-share-icon.fa.fa-fw.fa-plus(href="/", title="plus")
              +social

          .building-info-wrap.col-lg-7
            if isEdit
              +buildingParentIdEdit
              label.building-admin-edit
                span.building-admin-edit-text
                  | City:
                select.form-control(name="cityId")
                  each cities
                    option(value="{{key}}", selected="{{condition key 'is' ../cityId}}") {{value}}
              label.building-admin-edit
                span.building-admin-edit-text
                  | Address:
                input.form-control(type="text", name="address", value="{{address}}")
              label.building-admin-edit
                span.building-admin-edit-text
                  | Postal code:
                input.form-control(type="text", name="postalCode", value="{{postalCode}}")
              label.building-admin-edit
                span.building-admin-edit-text
                  | Neighborhood:
                input.form-control(type="text", name="neighborhood", value="{{neighborhood}}")
              label.building-admin-edit
                input(type="checkbox", name="isOnMap", value="true", checked="{{isOnMap}}")
                span.building-admin-edit-text.building-admin-edit-check
                  | Is on map
              label.building-admin-edit
                span.building-admin-edit-text
                  | Unit type:
                select.form-control(name="btype")
                  each btypes
                    option(value="{{key}}", selected="{{condition key 'is' ../btype}}") {{value}}
              label.building-admin-edit.form-inline
                span.building-admin-edit-text
                  | Position:
                select.select-position-defs.form-control
                  option(value="10000", selected="{{condition position 'is' 10000}}") Very High (10000)
                  option(value="5000", selected="{{condition position 'is' 5000}}") High (5000)
                  option(value="0", selected="{{condition position 'is' 0}}") Medium (0)
                  option(value="-5000", selected="{{condition position 'is' -5000}}") Low (-5000)
                  option(value="-10000", selected="{{condition position 'is' -10000}}") Very Low (-10000)
                  option(value="manual", selected="{{isManualPosition}}") Manual
                input.form-control.text-right.input-building-postion(class="{{#unless isManualPosition}}hidden{{/unless}}" type="text", name="position", value="{{position}}")

            if isEdit
              +buildingImagesEdit
            else
              .building-img-wrap.carousel.slide#carousel-example-generic(data-ride="carousel", data-interval="false")
                if canManageClients
                  a.recommend-toggle(href="#", class="{{#if buildingIsRecommended}}active{{/if}}")
                    i.fa.fa-star
                .carousel-inner(role="listbox")
                  each getImages
                    .item
                      img.building-img(src="{{url store='thumbs'}}")
                a.left.carousel-control(href="#carousel-example-generic", role="button", data-slide="prev")
                  i.fa.fa-fw.fa-chevron-left.building-img-icon(aria-hidden="true")
                  span.sr-only
                    | Previous
                a.right.carousel-control(href="#carousel-example-generic", role="button", data-slide="next")
                  i.fa.fa-fw.fa-chevron-right.building-img-icon(aria-hidden="true")
                  span.sr-only
                    | Next

            .building-main-info-desc-wrap.hidden-lg
              unless isEdit
                p.building-main-info-desc
                  | {{{getDescription}}}
              //-ul.building-share-list.list-unstyled.clearfix.hidden-lg
              //-  li.building-share.pull-left
              //-    a.building-share-icon.fa.fa-fw.fa-facebook(href="/", title="facebook")
              //-  li.building-share.pull-left
              //-    a.building-share-icon.fa.fa-fw.fa-twitter(href="/", title="twitter")
              //-  li.building-share.pull-left
              //-    a.building-share-icon.fa.fa-fw.fa-paper-plane(href="/", title="share")
              //-  li.building-share.pull-left
              //-    a.building-share-icon.fa.fa-fw.fa-plus(href="/", title="plus")
              +social

            if buildingUnits.count
              section.building-info-section
                h2.building-info-title
                  i.fa.fa-fw.fa-key
                  | {{buildingUnits.count}} Available Units
                //-p.building-info-desc
                //-  | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus
                //-  | mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum
                //-  | id ligula porta felis euismod semper.
                .building-unit-list-wrap
                  ul.building-unit-list.list-unstyled.row
                    each buildingUnitsLimited
                      li.building-unit-item-wrap.col-lg-6.col-md-6.col-sm-6.col-xs-12
                        .building-unit-item(class="{{#unless isPublished}}is-not-published{{/unless}}")
                          if canManageClients
                            a.recommend-toggle(href="#", class="{{#if unitIsRecommended}}active{{/if}}")
                              i.fa.fa-star
                          with mainImage
                            img.pull-left(src="{{url store='thumbsSmall'}}")
                          .building-unit-info.clearfix
                            h3.building-unit-info-title
                              a(href="{{pathFor route='building' data=getRouteData}}") {{title}}
                            .building-unit-info-price
                              i.fa(class="{{#if parentId}}fa-key{{else}}fa-building{{/if}}")
                              with getUnitPrice
                                span.unit-price
                                  | {{price}}
                              span.unit-type
                                | {{bedroomTypes}}
                          .building-unit-btn-wrap
                            button.building-unit-btn.btn.btn-default.check-availability(type="button")
                              | Check Availability
                            a.building-unit-btn.btn.btn-default(type="button", href="{{pathFor route='building' data=getRouteData}}")
                              | Full Listing
                          ul.building-unit-prop-list.list-unstyled
                            if isNotAvailable
                              li.building-unit-prop
                                i.fa.fa-fw.fa-check
                                | Earliest move-in: Not Currently Available
                            else
                              with getAvailableAt
                                li.building-unit-prop
                                  i.fa.fa-fw.fa-check
                                  | {{moment . 'MM/DD/YYYY'}}
                            with getBathrooms
                              li.building-unit-prop
                                i.fa.fa-fw.fa-check
                                | {{.}}
                if condition buildingUnits.count "gt" 4
                  if Session "showAllBuildingUnits"
                    a.building-unit-item-less(href="#", title="less")
                      | Hide Units
                  else
                    a.building-unit-item-more(href="#", title="more")
                      | View all {{buildingUnits.count}} Units

            if isEdit
              +buildingFeaturesEdit
            else
              with getFeatures
                section.building-info-section
                  h2.building-info-title
                    i.fa.fa-fw.fa-check
                    | Additional Features
                  ul.building-features-list.list-unstyled.row
                    each .
                      li.building-features.col-lg-4.col-md-4.col-sm-6.col-xs-6
                        i.fa.fa-fw.fa-check
                        span.building-features-text
                          | {{.}}

            if canOperateWithBuilding
              if isEdit
                unless parentId
                  +buildingAdminFieldsEdit
              else
                with adminBuilding
                  .building-admin-info
                    span.building-admin-info-text
                      | How to check availability:
                    span.building-admin-info-data
                      | {{adminAvailability}}
                  .building-admin-info
                    span.building-admin-info-text
                      | Escorted:
                    span.building-admin-info-data
                      | {{adminEscorted}}
                  .building-admin-info
                    span.building-admin-info-text
                      | Application fee:
                    span.building-admin-info-data
                      | {{adminAppFee}}
                  .building-admin-info
                    span.building-admin-info-text
                      | Office hours:
                    span.building-admin-info-data
                      | {{adminAvailability}}
                  .building-admin-info
                    span.building-admin-info-text
                      | Scheduling instructions:
                    span.building-admin-info-data
                      | {{adminScheduling}}
                  .building-admin-info
                    span.building-admin-info-text
                      | Contact instructions:
                    span.building-admin-info-data
                      | {{adminContact}}
                  .building-admin-info
                    span.building-admin-info-text
                      | Notes:
                    span.building-admin-info-data
                      | {{adminNotes}}

            //-section.building-info-section
            //-  h2.building-info-title
            //-    i.fa.fa-fw.fa-star
            //-    | User reviews
            //-  .building-reviews-wrap
            //-    .building-review-wrap.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //-      .building-review
            //-        input#reviewMore-1.building-review-more(type="checkbox")
            //-        .building-reviewer.pull-left
            //-          span.building-reviewer-name
            //-            | Mark Wilmotts
            //-          time
            //-            | 07/23/2014
            //-        span.rating-box.pull-right
            //-          i.fa.fa-fw.fa-star
            //-          | 8/10
            //-        h3.building-reviewer-title
            //-          | The place is a blest!
            //-        p.building-reviewer-desc
            //-          | The Sansom contains 104 newly constructed apartments and an assortment of noteworthy community
            //-          | amenities. Apartment types are varied and include a mix of one-bedrooms, one-bedrooms with dens,
            //-          | two-bedrooms, and studios feature exceptional finishes, including granite countertops and  stainless
            //-          | steel. ssteelsteelkitchen appliances, hardwood floors, and in-unit washer/dryers.
            //-        ul.building-review-list.building-review-target.clearfix.list-unstyled
            //-          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //-            span.building-review-field
            //-              | Noise
            //-            span.building-review-rate
            //-              | 5/5
            //-            .building-review-bar
            //-              .building-review-rate-5.building-review-rating
            //-                span.building-review-bar-animate
            //-          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //-            span.building-review-field
            //-              | Maintenance
            //-            span.building-review-rate
            //-              | 4/5
            //-            .building-review-bar
            //-              .building-review-rate-4.building-review-rating
            //-                span.building-review-bar-animate
            //-          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //-            span.building-review-field
            //-              | Staff
            //-            span.building-review-rate
            //-              | 3/5
            //-            .building-review-bar
            //-              .building-review-rate-3.building-review-rating
            //-                span.building-review-bar-animate
            //-          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //-            span.building-review-field
            //-              | Facilities
            //-            span.building-review-rate
            //-              | 2/5
            //-            .building-review-bar
            //-              .building-review-rate-2.building-review-rating
            //-                span.building-review-bar-animate
            //-          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //-            span.building-review-field
            //-              | Staff
            //-            span.building-review-rate
            //-              | 1/5
            //-            .building-review-bar
            //-              .building-review-rate-1.building-review-rating
            //-                span.building-review-bar-animate
            //-          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //-            span.building-review-field
            //-              | Facilities
            //-            span.building-review-rate
            //-              | 5/5
            //-            .building-review-bar
            //-              .building-review-rate-5.building-review-rating
            //-                span.building-review-bar-animate
            //-        label.building-review-trigger(for="reviewMore-1")
            //-    .building-review-wrap.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //-      .building-review
            //-        input#reviewMore-2.building-review-more(type="checkbox")
            //-        .building-reviewer.pull-left
            //-          span.building-reviewer-name
            //-            | Mark Wilmotts
            //-          time
            //-            | 07/23/2014
            //-        span.rating-box.pull-right
            //-          i.fa.fa-fw.fa-star
            //-          | 8/10
            //-        h3.building-reviewer-title
            //-          | The place is a blest!
            //-        p.building-reviewer-desc
            //-          | The Sansom contains 104 newly constructed apartments and an assortment of noteworthy community
            //-          | amenities. Apartment types are varied and include a mix of one-bedrooms, one-bedrooms with dens,
            //-          | two-bedrooms, and studios feature exceptional finishes, including granite countertops and  stainless
            //-          | steel. ssteelsteelkitchen appliances, hardwood floors, and in-unit washer/dryers.
            //-        ul.building-review-list.building-review-target.clearfix.list-unstyled
            //-          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //-            span.building-review-field
            //-              | Noise
            //-            span.building-review-rate
            //-              | 5/5
            //-            .building-review-bar
            //-              .building-review-rate-5.building-review-rating
            //-                span.building-review-bar-animate
            //-          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //-            span.building-review-field
            //-              | Maintenance
            //-            span.building-review-rate
            //-              | 4/5
            //-            .building-review-bar
            //-              .building-review-rate-4.building-review-rating
            //-                span.building-review-bar-animate
            //-          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //-            span.building-review-field
            //-              | Staff
            //-            span.building-review-rate
            //-              | 3/5
            //-            .building-review-bar
            //-              .building-review-rate-3.building-review-rating
            //-                span.building-review-bar-animate
            //-          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //-            span.building-review-field
            //-              | Facilities
            //-            span.building-review-rate
            //-              | 2/5
            //-            .building-review-bar
            //-              .building-review-rate-2.building-review-rating
            //-                span.building-review-bar-animate
            //-          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //-            span.building-review-field
            //-              | Staff
            //-            span.building-review-rate
            //-              | 1/5
            //-            .building-review-bar
            //-              .building-review-rate-1.building-review-rating
            //-                span.building-review-bar-animate
            //-          li.building-review-item.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //-            span.building-review-field
            //-              | Facilities
            //-            span.building-review-rate
            //-              | 5/5
            //-            .building-review-bar
            //-              .building-review-rate-5.building-review-rating
            //-                span.building-review-bar-animate
            //-        label.building-review-trigger(for="reviewMore-2")
          //-footer.clearfix
          //-  h3.building-page-footer
          //-    | Similar Properties
          //-  ul.building-page-similar.list-unstyled
          //-    li.building-page-similar-item.col-lg-3.col-xs-6.col-md-4.col-sm-4
          //-      a.building-page-similar-link(href="/", title="similar")
          //-        img.building-page-similar-img(src="/images/similar.jpg", alt="similar")
          //-        .building-page-similar-info.clearfix
          //-          span.building-page-similar-desc
          //-            | {{bedroomTypes}}
          //-          span.building-page-similar-price
          //-            | {{priceFrom}}
          //-    li.building-page-similar-item.col-lg-3.col-xs-6.col-md-4.col-sm-4
          //-      a.building-page-similar-link(href="/", title="similar")
          //-        img.building-page-similar-img(src="/images/similar.jpg", alt="similar")
          //-        .building-page-similar-info.clearfix
          //-          span.building-page-similar-desc
          //-            | {{bedroomTypes}}
          //-          span.building-page-similar-price
          //-            | {{priceFrom}}
          //-    li.building-page-similar-item.col-lg-3.col-xs-6.col-md-4.col-sm-4
          //-      a.building-page-similar-link(href="/", title="similar")
          //-        img.building-page-similar-img(src="/images/similar.jpg", alt="similar")
          //-        .building-page-similar-info.clearfix
          //-          span.building-page-similar-desc
          //-            | {{bedroomTypes}}
          //-          span.building-page-similar-price
          //-            | {{priceFrom}}
          //-    li.building-page-similar-item.col-lg-3.col-xs-6.col-md-4.col-sm-4
          //-      a.building-page-similar-link(href="/", title="similar")
          //-        img.building-page-similar-img(src="/images/similar.jpg", alt="similar")
          //-        .building-page-similar-info.clearfix
          //-          span.building-page-similar-desc
          //-            | {{bedroomTypes}}
          //-          span.building-page-similar-price
          //-            | {{priceFrom}} {{helper}}
        | {{ironRouterHack}}

        #confirmRemoval.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
                h4#myModalLabel.modal-title Remove image.
              .modal-body
                | Are you sure?
              .modal-footer
                button.btn.btn-primary.confirm-removal(type='button') Yes
                button.btn.btn-default(type='button', data-dismiss='modal') No

        #confirmBuildingRemoval.modal.fade(tabindex="-1", role="dialog", aria-labelledby="confirmBuildingRemovalLabel", aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                  span(aria-hidden="true") &times;
                h4#confirmBuildingRemovalLabel.modal-title Remove building.
              .modal-body
                | Are you sure?
              .modal-footer
                button.btn.btn-primary.confirm-building-removal(type="button") Yes
                button.btn.btn-default(type="button", data-dismiss="modal") No

  .city-side-bar.right-bar.clearfix.col-lg-3
    #gmap
