template(name="building")
  +checkAvailability(building=building)

  with building

    ol.breadcrumb
      li(itemscope, itemtype="http://data-vocabulary.org/Breadcrumb")
        a(href="/", title='home', itemprop="url")
          span(itemprop="title") Home
      li(itemscope, itemtype="http://data-vocabulary.org/Breadcrumb")
        a(href="{{pathFor route='city'}}", itemprop="url")
          span(itemprop="title") {{cityName}}
      li(itemscope, itemtype="http://data-vocabulary.org/Breadcrumb")
        a(href="{{pathFor route='neighborhood'}}", itemprop="url")
          span(itemprop="title") {{neighborhood}}
      with parent
        li(itemscope, itemtype="http://data-vocabulary.org/Breadcrumb")
          a(href="{{pathFor route='building' data=getRouteData}}", itemprop="url")
            span(itemprop="title") {{title}}
      li.active {{title}}

    .building-page-wrap.col-lg-12(itemscope, itemtype="http://schema.org/LocalBusiness")

      if canOperateWithBuilding
        .control-buttons.btn-group
          unless parentId
            button.btn.btn-success.add-unit(type="button")
              i.fa.fa-plus
              | Add Unit
          button.btn.btn-danger.remove-building(type="button")
            i.fa.fa-trash
            | Delete
          button.btn.btn-primary.publish-building-toggle(type="button")
            i.fa(class="{{#if isPublished}}fa-arrow-circle-o-up{{else}}fa-arrow-circle-o-down{{/if}}")
            if isPublished
              | Unpublish
            else
              | Publish
          if isEdit
            button.btn.btn-primary.save-building(type="button")
              i.fa.fa-fw.fa-spin.fa-spinner.loading(style="display: none;")
              i.fa.fa-check
              | Save
            button.btn.btn-warning.cancel-building(type="button")
              i.fa.fa-times
              | Cancel
          else
            button.btn.btn-primary.edit-building(type="button")
              i.fa.fa-pencil-square-o
              | Edit


      form.building-form.content-wrapper.p-t-10

        .building-page.clearfix
          .row

            .building-main-info.col-xs-12.col-md-5.col-lg-4
              if isEdit
                .form-group.fg-float.buildingTitle
                  .fg-line
                    input.form-control.fg-input.building-main-info-title(type="text", name="title", value="{{title}}")
                  label.fg-label(for="title") Building Title
              else
                h1.col-xs-12.col-sm-8.col-md-12.building-main-info-title(itemprop="name") {{getUnitTitle}}

                //-.rating-pie-wrap(itemprop="aggregateRating", itemscope, itemtype="http://schema.org/AggregateRating")
                //-  .rating-pie-chart(data-percent="{{averageRatingAll}}")
                //-    span.avgRating(itemprop="ratingValue") {{averageRatingAll}}

                h4.col-xs-12.col-sm-8.col-md-12.building-main-info-address(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
                  span.m-r-5(itemprop="streetAddress") {{address}}
                  | &#124;
                  span.m-l-5(itemprop="addressLocality") {{cityName}}
                  //-meta(itemprop="postalCode", content="{{postalCode}}") {{postalCode}}
                  //-meta(itemprop="addressCountry", content="USA")

              if isEdit
                .building-main-price-wrap.col-xs-12.col-sm-4.col-md-12
                  .building-main-price-opt
                    span.building-main-price
                      input.text-right(type="text", name="priceFrom", value="{{priceFrom}}")
                      | -
                      input.text-right(type="text", name="priceTo", value="{{priceTo}}")
                    span.building-main-rooms Unit
                  each btypesFields .
                    .building-main-price-opt
                      span.building-main-price
                        input.text-right(type="text", name="{{nameFrom}}", value="{{valueFrom}}")
                        | -
                        input.text-right(type="text", name="{{nameTo}}", value="{{valueTo}}")
                      span.building-main-rooms {{type}}
              else
                if agroIsUnit
                  with getUnitPrice
                    .building-main-price-wrap.col-xs-12.col-sm-4.col-md-12
                      .building-main-price-opt
                        span.building-main-price {{price}}
                        span.building-main-rooms {{type}}
                else
                  with prices
                    .building-main-price-wrap.col-xs-12.col-sm-4.col-md-12
                      each .
                        .building-main-price-opt
                          span.building-main-price {{price}}
                          span.building-main-rooms {{type}}

              if isEdit
                .col-xs-12.col-sm-8.col-md-12.p-0.clearfix

                  .building-main-prop
                    label Square Feet
                    .row
                      .col-xs-5.col-md-4.p-r-10
                        input.input-from-to.form-control(type="text", name="sqftFrom", value="{{sqftFrom}}")
                      .col-xs-1.p-0
                        | -
                      .col-xs-5.col-md-4.p-l-10
                        input.input-from-to.form-control(type="text", name="sqftTo", value="{{sqftTo}}")

                  each complexFields true

                    .form-group
                      b {{label}}:
                      each values
                        .radio
                          label
                            input(type="radio", name="{{name}}", value="{{value}}", checked="{{isChecked}}")
                            | {{text}}
                      label.show Comment:
                      input.input-comment.form-control(type="text", name="{{commentName}}", value="{{commentValue}}")

                  .form-group.clearfix
                    label.col-xs-5.control-label(for="isFurnished") Is Furnished:
                    .col-xs-7
                      select(name="isFurnished", value="true", checked="{{isFurnished}}")
                        option(value="", selected="{{condition isFurnished 'is' undefined}}")
                        option(value="true", selected="{{condition isFurnished 'is' true}}") Yes
                        option(value="false", selected="{{condition isFurnished 'is' false}}") No

                  label Date Available
                  +datepicker(name="availableAt" value=getAvailableAtForDatepicker)

                  .form-group.clearfix
                    label.col-xs-7.control-label(for="isNotAvailable") Is Not Available:
                    .col-xs-5
                      input(type="checkbox", name="isNotAvailable", value="true", checked="{{isNotAvailable}}")
 
                  .form-group.clearfix
                    label.col-xs-7.control-label(for="acceptOnlineApplication") Accept Online App:
                    .col-xs-5
                      input(type="checkbox", name="acceptOnlineApplication", value="true", checked="{{acceptOnlineApplication}}")

                  .form-group.clearfix
                    label Bedrooms
                    .input-group.m-b-5
                      .input-group-addon From
                      input.input-from-to.form-control(type="text", name="bedroomsFrom", value="{{bedroomsFrom}}")
                      .input-group-addon
                        i.fa.fa-fw.fa-bed
                    .input-group.m-b-5
                      .input-group-addon To
                      input.input-from-to.form-control(type="text", name="bedroomsTo", value="{{bedroomsTo}}")
                      .input-group-addon
                        i.fa.fa-fw.fa-bed

                  .form-group
                    label Bathrooms
                    .input-group.m-b-5
                      .input-group-addon From
                      input.input-from-to.form-control(type="text", name="bathroomsFrom", value="{{bathroomsFrom}}")
                      .input-group-addon
                        img.bath-icon(src="/images/bath.svg")
                    .input-group.m-b-5
                      .input-group-addon To
                      input.input-from-to.form-control(type="text", name="bathroomsTo", value="{{bathroomsTo}}")
                      .input-group-addon
                        img.bath-icon(src="/images/bath.svg")

              else
                ul.col-xs-12.col-sm-8.col-md-12.building-main-prop-list.list-unstyled.clearfix
                  with getSqft
                    li.building-main-prop.col-xs-6.col-sm-4.col-lg-6
                      i.fa.fa-check.blue-icon
                      span.building-main-prop-text
                        | {{.}} sq ft

                  if isFurnished
                    li.building-main-prop.col-xs-6.col-sm-4.col-lg-6
                      i.fa.fa-check.blue-icon
                      span.building-main-prop-text Furnished

                  each complexFields
                    li.building-main-prop.col-xs-6.col-sm-4.col-lg-6(data-toggle="tooltip", data-placement="top", title="{{commentValue}}")
                      i.fa(class="{{iconClass}}")
                      span.building-main-prop-text
                        | {{text}}
                      if commentValue
                        i.fa.fa-question-circle

                  with getBathrooms
                    li.building-main-prop.col-xs-6.col-sm-4.col-lg-6
                      i.fa.fa-check.blue-icon
                      span.building-main-prop-text
                        | {{.}}

                  if isNotAvailable
                    li.building-main-prop.col-xs-6.col-sm-4.col-lg-6
                      i.fa.fa-times.grey-icon
                      span.building-main-prop-text Not Currently Available
                  else
                    with getAvailableAt
                      li.building-main-prop.col-xs-6.col-sm-4.col-lg-6
                        i.fa.fa-check.blue-icon
                        span.building-main-prop-text
                          | Available: {{moment . 'MM/DD/YYYY'}}

              unless isEdit
                button.btn.btn-lg.btn-block.btn-primary.building-main-info-btn.m-t-25.check-availability(type="button") Check Availability
                  i.fa.fa-fw.fa-share.m-l-10

              if canApply
                a.btn.btn-success.building-main-info-btn.visible-lg-block(href="{{pathFor 'newRentalApplication' query=rentalQuery}}") Apply Now

              if buildingUnits.count
                .col-xs-12.building-info-section.p-0

                  h2.section-title
                    i.fa.fa-fw.fa-key
                    |  Units

                  .building-unit-list-wrap

                    ul

                      each buildingUnitsLimited

                        li.building-unit-item-wrap
                          .building-unit-item(class="{{#unless isPublished}}is-not-published{{/unless}}")

                            if canManageClients
                              .row
                                .col-xs-12
                                  a.recommend-toggle(href="#", class="{{#if unitIsRecommended}}active{{/if}}")
                                    i.fa.fa-star

                            .row
                              .col-xs-12.col-sm-6.unit-img-wrap
                                with mainImage
                                  img.pull-left(src="{{getThumbnail store='thumbs'}}")

                              .col-xs-12.col-sm-6
                                .building-unit-info.clearfix
                                  h3.building-unit-info-title
                                    a(href="{{pathFor route='building' data=getRouteData}}") {{title}}
                                  .building-unit-info-price
                                    div
                                      span.unit-type
                                        i.fa.fa-fw.fa-bed
                                        | {{bedroomTypes}}
                                      with getUnitPrice
                                        span.unit-price {{price}}
                                    div
                                      with getBathrooms
                                        span.unit-baths
                                          img.bath-icon(src="/images/bath.svg")
                                          | {{.}}

                                .building-unit-btn-wrap
                                  a.building-unit-btn.btn.btn-default.center-block(type="button", href="{{pathFor route='building' data=getRouteData}}") Full Listing


                                ul.building-unit-prop-list.list-unstyled
                                  if isNotAvailable
                                    li.building-unit-prop
                                      i.fa.fa-fw.fa-calendar-check-o
                                      | Earliest Move-In: Not Currently Available
                                  else
                                    with getAvailableAt
                                      li.building-unit-prop
                                        i.fa.fa-fw.fa-check
                                        | {{moment . 'MM/DD/YYYY'}}

                            .building-unit-btn-wrap
                              //-.col-xs-6.p-l-0
                              //-  button.building-unit-btn.btn.btn-default.check-availability(type="button") Check Availability

                  //-if condition buildingUnits.count "gt" 4
                  //-  if Session "showAllBuildingUnits"
                  //-    a.building-unit-item-less(href="#", title="less") Hide Units
                  //-  else
                  //-    a.building-unit-item-more(href="#", title="more") View All {{buildingUnits.count}} Units


            .col-xs-12.col-md-7.col-lg-8.building-info-wrap

              if isEdit
                .row
                  .col-xs-12.col-md-6
                    +buildingParentIdEdit

                    .form-group.building-admin-edit
                      span.building-admin-edit-text City:
                      select.form-control(name="cityId")
                        each cities
                          option(value="{{key}}", selected="{{condition key 'is' ../cityId}}") {{value}}

                    .form-group.fg-float
                      .fg-line
                        input.form-control.fg-input(type="text", name="address", value="{{address}}")
                      label.fg-label(for="address") Address

                    .form-group.fg-float
                      .fg-line
                        input.form-control.fg-input(type="text", name="postalCode", value="{{postalCode}}")
                      label.fg-label(for="address") Postal (ZIP) Code

                    .form-group.fg-float
                      .fg-line
                        input.form-control.fg-input(type="text", name="neighborhood", value="{{neighborhood}}")
                      label.fg-label(for="address") Neighborhood

                    label.building-admin-edit
                      input(type="checkbox", name="isOnMap", value="true", checked="{{isOnMap}}")
                      span.building-admin-edit-text.building-admin-edit-check Is on map

                    label.building-admin-edit
                      span.building-admin-edit-text Unit type:
                      select.form-control(name="btype")
                        each btypes
                          option(value="{{key}}", selected="{{condition key 'is' ../btype}}") {{value}}

                    label.building-admin-edit.form-inline
                      span.building-admin-edit-text Position:
                      select.select-position-defs.form-control
                        option(value="10000", selected="{{condition position 'is' 10000}}") Very High (10000)
                        option(value="5000", selected="{{condition position 'is' 5000}}") High (5000)
                        option(value="0", selected="{{condition position 'is' 0}}") Medium (0)
                        option(value="-5000", selected="{{condition position 'is' -5000}}") Low (-5000)
                        option(value="-10000", selected="{{condition position 'is' -10000}}") Very Low (-10000)
                        option(value="manual", selected="{{isManualPosition}}") Manual
                      input.form-control.text-right.input-building-postion(class="{{#unless isManualPosition}}hidden{{/unless}}" type="text", name="position", value="{{position}}")

                  .col-xs-12.col-md-6
                    .form-group.fg-float
                      .fg-line
                        textarea.form-control.fg-input(name="description",rows="8") {{{description}}}
                      label.fg-label(for="description") Description
                    

              if isEdit
                +buildingImagesEdit
              else
                .building-img-wrap.carousel.slide#carousel-example-generic(data-ride="carousel", data-interval="false")
                  if canRecommend
                    a.recommend-toggle(href="#", class="{{#if buildingIsRecommended}}active{{/if}}")
                      i.fa.fa-star

                  .carousel-inner(role="listbox")
                    each getMedia
                      .item
                        if isImage
                          img.building-img(src="{{getThumbnail store='thumbs'}}")
                        else
                          if isFirstSlide
                            iframe(src="//player.vimeo.com/video/{{vimeoId}}?autoplay=1", width="100%", height="400" frameborder="0", webkitallowfullscreen,mozallowfullscreen,allowfullscreen)
                          else
                            iframe(src="//player.vimeo.com/video/{{vimeoId}}", width="100%", height="400" frameborder="0", webkitallowfullscreen,mozallowfullscreen,allowfullscreen) 

                  a.left.carousel-control(href="#carousel-example-generic", role="button", data-slide="prev")
                    i.fa.fa-fw.fa-chevron-left.building-img-icon(aria-hidden="true")
                    span.sr-only Previous
                  a.right.carousel-control(href="#carousel-example-generic", role="button", data-slide="next")
                    i.fa.fa-fw.fa-chevron-right.building-img-icon(aria-hidden="true")
                    span.sr-only Next


              .building-main-info-desc-wrap
                input#mainDescMoreLarge.building-main-info-desc-more(type="checkbox")

                unless isEdit
                  .row
                    .col-xs-12.col-sm-8
                      .building-main-info-desc {{{getDescription}}}

                    .col-xs-12.col-sm-4
                      .walk-score-wrap
                        div
                          h2 {{address}}
                          h3 Walker's Paradise
                          .icon-wrap
                            div
                              a(href="#")
                                img(src="//pp.walk.sc/badge/walk/{{address}}-{{cityName}}.svg", alt="Walk Score of {{address}} {{cityName}} {{postalCode}}")
                                img(src="//pp.walk.sc/badge/transit/{{address}}-{{cityName}}.svg", alt="Transit Score of {{address}} {{cityName}} {{postalCode}}")
                                img(src="//pp.walk.sc/badge/bike/{{address}}-{{cityName}}.svg", alt="Bike Score of {{address}} {{cityName}} {{postalCode}}")
                         //- p
                         //-   a(href="/neighborhoods/")
                         //-     | Learn more about {{cityName}}


              if isEdit
                +buildingFeaturesEdit
              else
                with getFeatures
                  section.building-info-section
                    h2.section-title
                      i.fa.fa-fw.fa-check
                      | Building Amenities
                    ul.building-features-list.list-unstyled.row
                      each .
                        li.building-features.col-sm-4.col-xs-6
                          i.fa.fa-fw.fa-check.blue-icon.m-r-5
                          span.building-features-text {{.}}
                         

              if canOperateWithBuilding
                if isEdit
                  unless parentId
                    +buildingAdminFieldsEdit
                else
                  with adminBuilding
                    if mlsNo
                      .building-admin-info
                        span.building-admin-info-text MLS #:
                        span.building-admin-info-data {{mlsNo}}
                    .building-admin-info
                      span.building-admin-info-text How to check availability:
                      span.building-admin-info-data {{adminAvailability}}
                    .building-admin-info
                      span.building-admin-info-text Escorted:
                      span.building-admin-info-data {{adminEscorted}}
                    .building-admin-info
                      span.building-admin-info-text Application Fee:
                      span.building-admin-info-data {{adminAppFee}}
                    .building-admin-info
                      span.building-admin-info-text Office Hours:
                      span.building-admin-info-data {{adminAvailability}}
                    .building-admin-info
                      span.building-admin-info-text Scheduling Instructions:
                      span.building-admin-info-data {{adminScheduling}}
                    .building-admin-info
                      span.building-admin-info-text Contact Instructions:
                      span.building-admin-info-data {{adminContact}}
                    .building-admin-info
                      span.building-admin-info-text Notes:
                      span.building-admin-info-data {{adminNotes}}


          .row
            .map-container.clearfix.col-sm-12
              #gmap
              img.calcPop(src="/images/map-marker-filter.png", style="position: absolute;", data-toggle="popover", data-placement="top" )

          .row
            .col-xs-12.col-sm-7.col-md-8.col-lg-9
              h2.section-title
                i.fa.fa-fw.fa-commenting.fa-flip-horizontal
                |  Reviews
                a.btn.btn-xs.btn-default.pull-right(href="#review-form-modal", data-toggle="modal")
                  i.fa.fa-pencil-square-o
              +reviews(buildingReviews=buildingReviews)
              +reviewForm(defaults=reviewFormDefaults)

            .col-xs-12.col-sm-5.col-md-4.col-lg-3
              h2.section-title
                i.fa.fa-fw.fa-building
                | Similar Properties

              ul.main-city-list.list-unstyled.row.similar-properties

                if Template.subscriptionsReady

                  each similarProperties .

                    li.col-xs-12
                      .main-city-item(class="{{#unless isPublished}}is-not-published{{/unless}}")

                        a.main-city-img-link(href="{{pathFor route='building' buildingSlug=slug}}", title="Click to see {{title}}")
                          div(style="background-image: url('{{#if mainImage}}{{mainImage.url store='thumbs' auth=false}}{{else}}/images/placeholder.png{{/if}}')")

                        .main-city-item-wrap
                          .row
                            .col-md-9.col-lg-12
                              p.main-city-item-link {{title}}
                            .col-md-3.col-lg-12
                              p.similar-property-price {{displayBuildingPrice ../queryBtype}}

        | {{ironRouterHack}}
