template(name="review")
  div.review
    div.author #{name}
    div.posted-date #{formatedCreatedAt}
    div.total-rating
      i.fa.fa-star
      span #{totalRating}/10
    h3 #{title}
    p #{body}
    .review-breakdown.row
      each reviewItems
        div.review-item-rating.col-lg-6
          +reviewBar
    p
      a.review-view-more(href="#") View more