template(name="cityHeader")

  .city-sub-header.is-down.clearfix

    .row
      //-.col-xs-12.col-sm-2.city-select.city-sub-header-list-wrap.dropdown.city-filter.p-r-5
      //-  button.city-sub-header-title.dropdown-toggle.btn.btn-default(type="button", data-toggle="dropdown")
      //-    i.fa.fa-globe
      //-    span.button-text {{currentCity}}
      //-    span.caret.hide-md
      //-  ul.city-sub-header-list.dropdown-menu.list-unstyled
      //-    each cities
      //-      li.city-sub-header-item(data-value="{{key}}") {{value}}

      //-.col-sm-2.neighborhood-select.city-sub-header-list-wrap.dropdown.city-filter.hide-md
      //-  i.fa.fa-map-signs
      //-  a.clear-neighborhood-filter(href="{{pathFor 'city' cityId=cityId}}")
      //-    i.fa.fa-times
      //-  input.form-control.typeahead(type="text", placeholder="Search neighborhood", autocomplete="false", data-source="neighborhoodSearch", data-selected="selectedNeighborhood", data-min-length="0", data-limit="9", data-template="neighborhoodSuggestion", value="{{currentNeighborhood}}")

      .col-xs-12.col-sm-2.neighborhood-select.city-sub-header-list-wrap
        .dropdown.city-filter.features-wrap
          button.dropdown-toggle.btn.btn-default(type="button", data-toggle="dropdown")
            i.fa.fa-fw.fa-map
            span {{neighborhood}}

          form.neighborhoods-section.dropdown-menu.dropdown-menu-left(style="left:0")
            h4.filter-title.pull-left
              i.fa.fa-crosshairs.m-r-5
              | Select A Neighborhood:

            span.pull-right
              a#clear-neighborhoods(href="/city/#{../cityId}/")
                span.hide-sm View All
                i.fa.fa-list-ul.m-l-5

            ul.filter-list.list-unstyled.clearfix

              each neighborhoods
                li.col-xs-6
                  a(href="/city/#{../cityId}/#{slug}", id="#{slug}") #{name}

      .col-xs-6.col-sm-1.bedroom-type-select.city-sub-header-list-wrap.dropdown.city-filter
        select.city-sub-header-list
          option.city-sub-header-item(value="") # BR's
          each btypes
            option.city-sub-header-item(value="{{key}}") {{value}}

        //-button.city-sub-header-title.dropdown-toggle.btn.btn-default(type="button", data-toggle="dropdown")
        //-  i.fa.fa-bed
        //-  span.button-text.hide-md {{currentBedroomType}}
        //-  span.caret
        //-ul.city-sub-header-list.dropdown-menu.list-unstyled
        //-  li.city-sub-header-item(data-value="") Any
        //-  each btypes
        //-    li.city-sub-header-item(data-value="{{key}}") {{value}}

      .col-xs-6.col-sm-2#features-container
        .dropdown.city-filter.features-wrap
          button.features-btn.dropdown-toggle.btn.btn-default(type="button", data-toggle="dropdown")
            i.fa.fa-fw.fa-check.text-primary
            | Features

          form.form-building-features-filter.features-section.dropdown-menu.ac-custom.ac-checkbox.ac-checkmark(autocomplete="off")
            h3.filter-title Filter Apartment Listings By:

            ul.filter-list.list-unstyled.clearfix
              li.checkbox-wrap.col-md-6
                input#security.css-checkbox(type="checkbox", name="security", value="true", checked="{{query.security}}")
                label.css-label(for="security") Doorman

              li.checkbox-wrap.col-md-6
                input#fitnessCenter.css-checkbox(type="checkbox", name="fitnessCenter", value="true", checked="{{query.fitnessCenter}}")
                label.css-label(for="fitnessCenter") Fitness Center

              li.checkbox-wrap.col-md-6
                input#pets.css-checkbox(type="checkbox", name="pets", value="true", checked="{{query.pets}}")
                label.css-label(for="pets") Pet Friendly

              li.checkbox-wrap.col-md-6
                input#loundry.css-checkbox(type="checkbox", name="laundry", value="true", checked="{{query.laundry}}")
                label.css-label(for="loundry") Laundry In-unit

              li.checkbox-wrap.col-md-6
                input#parking.css-checkbox(type="checkbox", name="parking", value="true", checked="{{query.parking}}")
                label.css-label(for="parking") Parking

              li.checkbox-wrap.col-md-6
                input#utilities.css-checkbox(type="checkbox", name="utilities", value="true", checked="{{query.utilities}}")
                label.css-label(for="utilities") Utilities Included

            label.city-features-date Available From
              +datepicker(name="available" value=query.available)
            button.btn.btn-primary.apply-changes-btn(type="submit") Apply Changes
            button.btn.btn-default.m-l-10.clear-btn.form-building-features-filter-reset(type="button") Clear Filter

      +cityHeaderSlider

      #location-filter-wrapper.col-xs-6.col-sm-2
        .dropdown.city-filter
          button.features-btn.dropdown-toggle.btn.btn-default(type="button", data-toggle="dropdown")
            i.fa.fa-fw.fa-street-view
            | Distance
            span.hide-md Search

          form.form-building-filter.location-filter-section.dropdown-menu.dropdown-menu-left
            h3.filter-title Enter any destination to find nearby apartments:

            .row.m-b-10.clearfix
              .col-xs-12
                input#address.form-control(type="text", name="address", placeholder="Destination Address", value="{{getDestination}}")

            .row.selectArrivalTime
              .col-xs-5.col-sm-6
                .dropdown
                  button.dropdown-toggle.btn.btn-default(type="button", aria-expanded="false") {{arrivalTime}}
                  ul.dropdown-menu.option(role="menu")       
                    li#10m.selectTime
                      a(href="#") Less than 10 min
                    li#20m.selectTime
                      a(href="#") Less than 20 min
                    li#30m.selectTime
                      a(href="#") Less than 30 min

              .col-xs-6.p-t-5
                .row
                  .col-xs-4.travelMode#walker
                    if condition travelMode 'is' 'walking'
                      i.fa.fa-fw.fa-male.text-primary
                    else
                      i.fa.fa-fw.fa-male

                  .col-xs-4.travelMode#car
                    if condition travelMode 'is' 'driving'
                      i.fa.fa-fw.fa-car.text-primary
                    else
                      i.fa.fa-fw.fa-car

                  .col-xs-4.travelMode#bike
                    if condition travelMode 'is' 'bicycling'
                      i.fa.fa-fw.fa-bicycle.text-primary
                    else
                      i.fa.fa-fw.fa-bicycle

            .row
              .col-xs-6
                button.btn.btn-block.btn-primary.apply-changes-btn(type="submit") Apply
                  span.hide-md Changes
              .col-sm-6
                button.btn.btn-default.clear-btn.form-building-address-filter-reset(type="button") Clear Filter

      .col-xs-6.col-sm-2.building-title-search-wrapper
        input.building-title-search.form-control(type="text", placeholder="Search Buildings", value="{{query.q}}")
        i.fa.fa-fw.fa-search

    .toggle-city-header#done-btn
      button.btn.btn-primary(type="button")
        | Close Filter Options
        i.fa.fa-fw.fa-chevron-circle-up.m-l-5

  .toggle-city-header.icon
    .btn.btn-link(data-toggle="tooltip", data-placement="auto", title="", data-original-title="Hide options")
      i.fa.fa-chevron-circle-up

template(name="neighborhoodSuggestion")
  span(class="#{id}") #{value}
